<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlw.goodscm.dao.GoodsPostRecodeMapper">
  <resultMap id="BaseResultMap" type="com.xlw.goodscm.model.GoodsPostRecode">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="goods_his_id" jdbcType="BIGINT" property="goodsHisId" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="post_status" jdbcType="SMALLINT" property="postStatus" />
    <result column="export_time" jdbcType="TIMESTAMP" property="exportTime" />
    <result column="post_time" jdbcType="TIMESTAMP" property="postTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from goods_post_recode
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xlw.goodscm.model.GoodsPostRecode">
    insert into goods_post_recode (id, goods_id, goods_his_id, 
      customer_id, post_status, export_time, 
      post_time, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT}, #{goodsHisId,jdbcType=BIGINT}, 
      #{customerId,jdbcType=BIGINT}, #{postStatus,jdbcType=SMALLINT}, #{exportTime,jdbcType=TIMESTAMP}, 
      #{postTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.xlw.goodscm.model.GoodsPostRecode">
    update goods_post_recode
    set goods_id = #{goodsId,jdbcType=BIGINT},
      goods_his_id = #{goodsHisId,jdbcType=BIGINT},
      customer_id = #{customerId,jdbcType=BIGINT},
      post_status = #{postStatus,jdbcType=SMALLINT},
      export_time = #{exportTime,jdbcType=TIMESTAMP},
      post_time = #{postTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, goods_id, goods_his_id, customer_id, post_status, export_time, post_time, 
    create_time, update_time
    from goods_post_recode
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, goods_id, goods_his_id, customer_id, post_status, export_time, post_time, 
    create_time, update_time
    from goods_post_recode
  </select>
</mapper>