<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlw.goodscm.dao.PlateformReleaseRecordMapper">
  <resultMap id="BaseResultMap" type="com.xlw.goodscm.model.PlateformReleaseRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="platform_id" jdbcType="BIGINT" property="platformId" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="release_state" jdbcType="SMALLINT" property="releaseState" />
    <result column="release_price" jdbcType="DECIMAL" property="releasePrice" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from plateform_release_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xlw.goodscm.model.PlateformReleaseRecord">
    insert into plateform_release_record (id, platform_id, goods_id, 
      release_state, release_price, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{platformId,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT}, 
      #{releaseState,jdbcType=SMALLINT}, #{releasePrice,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.xlw.goodscm.model.PlateformReleaseRecord">
    update plateform_release_record
    set platform_id = #{platformId,jdbcType=BIGINT},
      goods_id = #{goodsId,jdbcType=BIGINT},
      release_state = #{releaseState,jdbcType=SMALLINT},
      release_price = #{releasePrice,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, platform_id, goods_id, release_state, release_price, create_time, update_time
    from plateform_release_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, platform_id, goods_id, release_state, release_price, create_time, update_time
    from plateform_release_record
  </select>
</mapper>