<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xlw.zerg.dao.BannerMapper" >
  
  <resultMap id="BaseResultMap" type="com.xlw.zerg.model.Banner" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="delete_time" property="deleteTime" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="INTEGER" />
                                                                                                                
    <collection property="items" javaType="ArrayList" column="id" ofType="com.xlw.zerg.model.BannerItem" select="com.xlw.zerg.dao.BannerItemMapper.selectByBannerId"/>
  </resultMap>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from banner
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.xlw.zerg.model.Banner" >
    insert into banner (id, name, description, 
      delete_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{deleteTime,jdbcType=INTEGER}, #{updateTime,jdbcType=INTEGER})
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.xlw.zerg.model.Banner" >
    update banner
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      delete_time = #{deleteTime,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, name, description, delete_time, update_time
    from banner
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, name, description, delete_time, update_time
    from banner
  </select>
  
</mapper>