<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xlw.sys.dao.SysRoleMenuMapper" >
  <resultMap id="BaseResultMap" type="com.xlw.sys.model.SysRoleMenu" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="role_id" property="roleId" jdbcType="BIGINT" />
    <result column="menu_id" property="menuId" jdbcType="BIGINT" />
  </resultMap>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_role_menu
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <insert id="insert" parameterType="com.xlw.sys.model.SysRoleMenu" >
    insert into sys_role_menu (
     role_id, 
     menu_id
    )
    values (
     #{roleId,jdbcType=BIGINT}, 
     #{menuId,jdbcType=BIGINT}
    )
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.xlw.sys.model.SysRoleMenu" >
    update sys_role_menu
    set 
      role_id = #{roleId,jdbcType=BIGINT},
      menu_id = #{menuId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, role_id, menu_id
    from sys_role_menu
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, role_id, menu_id
    from sys_role_menu
  </select>
  
  <select id="queryMenuIdList" resultType="long">
		select menu_id from sys_role_menu where role_id = #{value}
  </select>

  <delete id="deleteBatch">
    delete from sys_role_menu where role_id in
     <foreach item="roleId" collection="array" open="(" separator="," close=")">
      #{roleId}
     </foreach>
  </delete>
  
  <insert id="insertBatch" parameterType="java.util.List">
    <selectKey resultType ="java.lang.Integer" keyProperty= "id" order= "AFTER">
       SELECT LAST_INSERT_ID()
    </selectKey >
    insert into sys_role_menu (role_id, menu_id)
    values
  	<foreach item="roleMenu" collection ="list" separator=",">
  	(
      #{roleMenu.roleId,jdbcType=BIGINT}, 
      #{roleMenu.menuId,jdbcType=BIGINT}
    )
    </foreach>
  </insert>
  
  <delete id="deleteByMap" parameterType="Map">
     delete from sys_role_menu where 1=1 and
  	 <if test="role_id != null"> and role_id = #{role_id}</if>  
     <if test="menu_id != null"> and menu_id = #{menu_id}</if>  
  </delete>
  
</mapper>