<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xlw.sys.dao.SysUserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.xlw.sys.model.SysUserRole" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="role_id" property="roleId" jdbcType="BIGINT" />
  </resultMap>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_user_role
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <insert id="insert" parameterType="com.xlw.sys.model.SysUserRole" >
    insert into sys_user_role (
    user_id, 
    role_id
    )values (
	#{userId,jdbcType=BIGINT}, 
	#{roleId,jdbcType=BIGINT}
    )
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.xlw.sys.model.SysUserRole" >
    update sys_user_role
    set user_id = #{userId,jdbcType=BIGINT},
      role_id = #{roleId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, user_id, role_id
    from sys_user_role
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, user_id, role_id
    from sys_user_role
  </select>
  
  <select id="queryRoleIdList" resultType="long">
	select role_id from sys_user_role where user_id = #{value}
  </select>

  <delete id="deleteBatch">
	delete from sys_user_role where role_id in
	<foreach item="roleId" collection="array" open="(" separator="," close=")">
		#{roleId}
	</foreach>
  </delete>
  
  <insert id="insertBatch" parameterType="java.util.List">
    <selectKey resultType ="java.lang.Long" keyProperty= "id" order= "AFTER">
       SELECT LAST_INSERT_ID()
    </selectKey >
    insert into sys_user_role (user_id,role_id)
    values
  	<foreach item="userRole" collection ="list" separator=",">
  	(
      #{userRole.userId,jdbcType=BIGINT}, 
      #{userRole.roleId,jdbcType=BIGINT}
    )
    </foreach>
  </insert>
  
  <delete id="deleteByMap" parameterType="Map">
     delete from sys_user_role where 1=1 and
     <if test="user_id != null"> and user_id = #{user_id}</if>  
  	 <if test="role_id != null"> and role_id = #{role_id}</if>  
  </delete>
  
</mapper>