@charset "utf-8";
/* CSS Document */

body{ margin:0; padding:0; font-size:12px; background:#f4f4f4}
a,a:visited{}
#header-div { background:url(images/header.gif) repeat-x;border-bottom: 4px solid #c64934; height:38px;}
#logo-div {float: left;}

#menu-div {background:#f1f3f5;font-weight: bold; height: 24px;line-height:24px; border-bottom:1px solid #ccc;}
#menu-div a:visited, #menu-div a:link {display:block;padding: 0 20px;text-decoration: none;color: #335B64;background:#9CCBD6;}
#menu-div a:hover {color: #000; background:#80BDCB;}
.txt{ width:150px; height:18px; margin:0; padding:0 4px; border:1px solid #ccc;}